<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="menu">
      <ion-button expand="full" size="big" color="transparent">Eventos</ion-button>
      <ion-button expand="full" size="big" color="transparent">Datas</ion-button>
      <ion-button expand="full" size="big" color="transparent">Favoritos</ion-button>
      <ion-button expand="full" size="big" color="transparent">Recentemente</ion-button>
      <ion-button expand="full" size="big" color="transparent">Preferencias</ion-button>
      <ion-button expand="full" size="big" color="transparent">Meu Perfil</ion-button>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
      <ion-buttons slot="end">
        <ion-button class="notification-button">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h3>Ao vivo</h3>
    <swiper-container
      [loop]="true"
      [pagination]="true"
      [autoplay]="true"
      navigation-next-el=".swiper-button-next"
      navigation-prev-el=".swiper-button-prev"
    >
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
    </swiper-container>

    <ion-button class="swiper-button-prev" color="transparent" fill="clear">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button class="swiper-button-next" color="transparent" fill="clear">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>

    <h3>Eventos</h3>
    <div class="cards">
      <ion-card></ion-card>
      <ion-card></ion-card>
      <ion-card></ion-card>
    </div>
  </ion-content>
</div>

<ion-footer>
  <ion-button color="transparent" slot="icon-only" fill="clear">
    <ion-icon name="home-outline"></ion-icon>
  </ion-button>
  <ion-button color="transparent" slot="icon-only" fill="clear">
    <ion-icon name="football-outline"></ion-icon>
  </ion-button>
  <ion-button color="transparent" slot="icon-only" fill="clear">
    <ion-icon name="calendar-outline"></ion-icon>
  </ion-button>
  <ion-button color="transparent" slot="icon-only" fill="clear">
    <ion-icon name="person-outline"></ion-icon>
  </ion-button>
</ion-footer>
