.ion-page {
  height: 100%;
  width: 100%;
  background: #fff !important;

  ion-header {
    ion-toolbar {
      background: #008b8b !important;
      --background: #008b8b !important;
    }
  }
}

ion-menu ion-header ion-toolbar {
  background: #006f6f !important;
  --background: #006f6f !important;
}

.menu {
  background: #008b8b;
  height: 100%;
  width: 100%;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-button {
    width: 100%;
    height: 50px;
    margin: 0;
    color: #fff;
  }
}

.notification-button {
  margin-right: 15px;
  position: relative;
  ion-icon {
    font-size: 24px;
    color: #fff;
  }

  .notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
  }
}

ion-content {
  --ion-background-color: #fff;
  --color: #000;
  height: 100%;
  min-height: 100vh;

  swiper-container {
    width: 100%;
    height: 200px;
    background: #d9d9d9;
    border-radius: 10px;
  }

  swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 23%;
    transform: translateY(-50%);
    z-index: 10;
    background: transparent !important;
    color: #fff;
    border-radius: 50%;
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 10px;
  }

  .cards {
    height: 100%;
    width: 100%;

    ion-card {
      width: 100%;
      height: 120px;
      background: #d9d9d9;
      border-radius: 10px;
      margin: 0 0 20px;
    }
  }
}

ion-footer {
  height: 60px;
  width: 100%;
  background: #008b8b;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;

  ion-toolbar {
    --background: #008b8b !important;
  }

  ion-button {
    height: 100%;
    width: 25%;
    border: 0;
    margin: 0;
    padding: 0;

    ion-icon {
      height: 70%;
      width: 70%;
      color: #fff;
    }
  }
}

ion-popover{
  height: auto;

  ion-item{
    height: 50px;
  }
}