mat-toolbar{
  background: var(--surface-color-200);
  color: var(--bg-color-20);
}

mat-icon{
  color: var(--bg-color-20);
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mini-perfil{
  background: var(--light-color);
  height: 200px;
  width: 200px;
}

.btn-perfil{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}