mat-toolbar{
  background: var(--surface-color-200);
  color: var(--bg-color-20);
}

mat-icon{
  color: var(--bg-color-20);
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mini-perfil {
  background: var(--light-color);
  height: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.mini-perfil img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.mini-perfil p {
  font-size: 14px;
  color: var(--text-color);
  margin: 0;
}

.btn-perfil{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}