<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="onMenuClick()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Dashboard</span>
  <span class="toolbar-spacer"></span>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with notifications"
    matBadgeColor="warn"
    [matMenuTriggerFor]="menu"
    (click)="onNotificationClick()"
  >
    <mat-icon [matBadge]="badge > 0 ? badge : null" matBadgeColor="warn"
      >notifications</mat-icon
    >
  </button>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with account icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
  <button mat-menu-item>Item 3</button>
</mat-menu>
