<div class="container">
  <div class="event-form">
    <form [formGroup]="formGroup">
      <h2 class="ubuntu-medium">Detalhes do evento</h2>

      <span class="item">
        <mat-form-field appearance="outline">
          <mat-label>Time A</mat-label>
          <input
            matInput
            placeholder=""
            [readonly]="true"
            formControlName="timeA"
          />
        </mat-form-field>
      </span>

      <span class="item">
        <mat-form-field appearance="outline">
          <mat-label>Time B</mat-label>
          <input
            matInput
            placeholder=""
            [readonly]="true"
            formControlName="timeB"
          />
        </mat-form-field>
      </span>

      <span class="item">
        <mat-form-field appearance="outline">
          <mat-label>Liga</mat-label>
          <input
            matInput
            placeholder=""
            [readonly]="true"
            [value]="formGroup.value.liga?.nome"
          />
        </mat-form-field>
      </span>

      <span class="item">
        <mat-form-field appearance="outline">
          <mat-label>Tipo Evento</mat-label>
          <input
            matInput
            placeholder=""
            [readonly]="true"
            formControlName="tipoEvento"
          />
        </mat-form-field>
      </span>

      <span class="item">
        <mat-form-field appearance="outline">
          <mat-label>Data Evento</mat-label>
          <input 
            matInput 
            [matDatepicker]="picker" 
            formControlName="dataEvento"
            readonly="true"
            [value]="formGroup.value.dataEvento"
          />
          <mat-datepicker-toggle matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </span>      

      <div class="btn-group">
        <button
          mat-raised-button
          [routerLink]="['/dashboard/events']"
          type="button"
          class="btn-voltar"
        >
          Voltar
        </button>
      </div>
    </form>
  </div>
</div>
