.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.container {
    height: 100%;
    width: 100%;
    background: var(--surface-color-150);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .form {
    min-height: 50%;
    width: 40%;
    background: var(--bg-color-100);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
}

.container .form mat-form-field, button{
    width: 100%;
}

.container .form button {
    margin: 5px 0;
}

.container .form .btn-cadastrar{
    background: var(--primary-color);
    color: var(--light-color);
}

.container .form .btn-voltar{
    color: var(--primary-color);
}