<div class="container">
  <cdk-accordion class="example-accordion">
    
    <cdk-accordion-item class="example-accordion-item">
      <button class="example-accordion-item-header" (click)="toggleItem('dashboard')" id="accordion-header-1">
        <h3>Dashboard</h3>
        <mat-icon>{{ expandedItems.dashboard ? "expand_less" : "expand_more" }}</mat-icon>
      </button>
      <div class="example-accordion-item-body" [@accordionBody]="expandedItems.dashboard ? 'expanded' : 'collapsed'">
        <a class="menu-sub-item" [routerLink]="['/dashboard/data']"> <mat-icon>space_dashboard</mat-icon> Dados</a>
      </div>
      <div class="example-accordion-item-body" [@accordionBody]="expandedItems.dashboard ? 'expanded' : 'collapsed'">
        <a class="menu-sub-item" [routerLink]="['/dashboard/listagem']"> <mat-icon>format_list_numbered_rtl</mat-icon> Listagem</a>
      </div>
    </cdk-accordion-item>

    <cdk-accordion-item class="example-accordion-item">
      <button class="example-accordion-item-header" (click)="toggleItem('cadastros')" id="accordion-header-2">
        <h3>Cadastros</h3>
        <mat-icon>{{ expandedItems.cadastros ? "expand_less" : "expand_more" }}</mat-icon>
      </button>
      <div class="example-accordion-item-body" [@accordionBody]="expandedItems.cadastros ? 'expanded' : 'collapsed'">
        <a class="menu-sub-item" [routerLink]="['/dashboard/leagues']"> <mat-icon>emoji_events</mat-icon> Ligas</a>
      </div>
      <div class="example-accordion-item-body" [@accordionBody]="expandedItems.cadastros ? 'expanded' : 'collapsed'">
        <a class="menu-sub-item" [routerLink]="['/dashboard/events']"> <mat-icon>sports_soccer</mat-icon> Eventos</a>
      </div>
      <div class="example-accordion-item-body" [@accordionBody]="expandedItems.cadastros ? 'expanded' : 'collapsed'">
        <a class="menu-sub-item" [routerLink]="['/dashboard/broadcast']"> <mat-icon>cell_tower</mat-icon> Transmissões</a>
      </div>
    </cdk-accordion-item>

    <cdk-accordion-item class="example-accordion-item">
      <button class="example-accordion-item-header" (click)="toggleItem('acessos')" id="accordion-header-3">
        <h3>Acessos</h3>
        <mat-icon>{{ expandedItems.acessos ? "expand_less" : "expand_more" }}</mat-icon>
      </button>
      <div class="example-accordion-item-body" [@accordionBody]="expandedItems.acessos ? 'expanded' : 'collapsed'">
        <a class="menu-sub-item" [routerLink]="['/dashboard/listagem-usuarios']"> <mat-icon>person</mat-icon> Usuários</a>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
  
  <div class="side-menu-footer">
    <p>&copy; 2025 - OndePassa</p>
  </div>
</div>
