.container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.container .broadcast-form {
  height: 100%;
  width: 100%;
  background: var(--bg-color-50);
  border-radius: 20px;
}

.container .broadcast-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.container .broadcast-form form .item {
  width: 100%;
  height: auto;
  padding: 0 100px;
}

.container .broadcast-form form .item p {
  font-size: 17px;
  color: var(--danger-color);
}

.container .broadcast-form form .item mat-form-field {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.container .broadcast-form form .btn-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.container .broadcast-form form .btn-group button {
  width: 100%;
  height: 50px;
  margin: 10px 0;
}

.container .broadcast-form form .btn-group .btn-submit{
  background: var(--primary-color);
  color: var(--light-color);
}

.container .broadcast-form form .btn-group .btn-voltar {
  color: var(--primary-color);
}
