.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.container {
    height: 100%;
    width: 100%;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .form {
    height: 50%;
    width: 40%;
    background: var(--light-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
}

.container .form mat-form-field, button{
    width: 100%;
}

.container .form button {
    margin: 5px 0;
}