<!--Dashboard data-->
<mat-card class="dashboard-panel">
  <div class="cards">
    <mat-card class="card-1">
      <mat-card-header>
        <mat-card-title> Acessos recentes</mat-card-title>
        <mat-card-subtitle> {{ todayAccess }} </mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="card-2">
      <mat-card-header>
        <mat-card-title> Acessos totais</mat-card-title>
        <mat-card-subtitle> {{ allAccess }} </mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="card-3">
      <mat-card-header>
        <mat-card-title> Eventos hoje</mat-card-title>
        <mat-card-subtitle> {{ todayEvents }} </mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="card-4">
      <mat-card-header>
        <mat-card-title> Com transmissão</mat-card-title>
        <mat-card-subtitle> {{ broadcastedEvents }} </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="charts"></div>

  <div class="tables"></div>
</mat-card>
