.dashboard-panel {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-panel .cards {
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 10px;
}

.dashboard-panel .cards mat-card {
  width: 23%;
  height: 100%;
}

.dashboard-panel .cards mat-card-title {
  color: var(--light-color);
}

.dashboard-panel .cards mat-card mat-card-subtitle {
  font-size: 40px;
  margin-top: 30px;
  color: var(--light-color);
}

.dashboard-panel .cards .card-1 {
  background: var(--primary-color);
}

.dashboard-panel .cards .card-2 {
  background: var(--warning-color);
}

.dashboard-panel .cards .card-2 :is(mat-card-title, mat-card-subtitle) {
  color: var(--text-color);
}

.dashboard-panel .cards .card-3 {
  background: var(--success-color);
}

.dashboard-panel .cards .card-4 {
  background: var(--danger-color);
}

.dashboard-panel .charts {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dashboard-panel .charts .graficos{
  height: 100%;
  width: 50%;
  margin: 25px;
}

.dashboard-panel .tables {
  height: 40%;
  width: 100%;
  padding: 25px;
}

.dashboard-panel .tables  h2{
  margin-bottom: 20px;
}

.dashboard-panel .tables table {
  width: 100%;
}