<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="menu">
      <ion-button expand="full" size="big" color="transparent">Eventos</ion-button>
      <ion-button expand="full" size="big" color="transparent">Datas</ion-button>
      <ion-button expand="full" size="big" color="transparent">Favoritos</ion-button>
      <ion-button expand="full" size="big" color="transparent">Recentemente</ion-button>
      <ion-button expand="full" size="big" color="transparent">Preferencias</ion-button>
      <ion-button expand="full" size="big" color="transparent">Meu Perfil</ion-button>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
      <ion-buttons slot="end">
        <ion-button class="notification-button">
          <ion-icon name="notifications"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="calendar-content">
    <strong class="title"> <ion-icon name="calendar-clear"></ion-icon> Selecione uma data</strong>
    <ion-datetime
    presentation="date"
    (ionChange)="onDateChange($event)"
  ></ion-datetime>
  </ion-content>
</div>

<ion-footer>
  <ion-button color="transparent" slot="icon-only" fill="clear" (click)="goToDashboard()">
    <ion-icon name="home-outline"></ion-icon>
  </ion-button>
  <ion-button color="transparent" slot="icon-only" fill="clear" (click)="goToListEvents()">
    <ion-icon name="football-outline"></ion-icon>
  </ion-button>
  <ion-button color="transparent" slot="icon-only" fill="clear" (click)="goToScheduller()">
    <ion-icon name="calendar-outline"></ion-icon>
  </ion-button>
  <ion-button color="transparent" slot="icon-only" fill="clear" (click)="goToProfile()">
    <ion-icon name="person-outline"></ion-icon>
  </ion-button>
</ion-footer>
