@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: auto;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ubuntu-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: italic;
}

:root {
  --primary-color: #1e90ff;
  --secondary-color: #ffff;
  --success-color: #39e600;
  --danger-color: #e60000;
  --warning-color: #ffd700;
  --info-color: #00bfff;
  --dark-color: #1a1a1a;
  --light-color: #f2f2f2;

  --accent-color: #ff6633;
  --text-color: #000;
  --sub-text-color: #1a1a1a;

  --bg-color-20: #FAF9FD;
  --bg-color-50: #f6f6f6;
  --bg-color-100: #ececec;
  --bg-color-150: #e1e1e1;
  --bg-color-200: #d0d0d0;

  --surface-color-20: #4e749c;
  --surface-color-50: #3d5a79;
  --surface-color-100: #30465E;
  --surface-color-150: #2e4157;
  --surface-color-200: #212F3F;

}
