.container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.container .form-event {
  height: 88vh;
  width: 100%;
  background: var(--bg-color-50);
  border-radius: 20px;
}
